/* Original code "forked" from GiantSpeck: https://pastebin.com/342kbHWd */
/* Extreme minimalization of Firefox UI; removes many elements that have menu buttons or Keyboard shortcuts */
/* Works with Firefox 57+ */
/* Requires: */
/*   - Compact Density */
/*   - MacOSX Light Theme: https://addons.mozilla.org/en-US/firefox/addon/mac-osx-light/ */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Reduce width of pinned tabs by reducing the left and right padding */

.toolbar-items .tab-content[pinned] {
  padding: 0 6px !important;
}

/* URL bar width adjustments */

#urlbar {
  font-size: 11px !important;
}

#urlbar:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

#urlbar[focused="true"] {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Hide bookmark folder icons */

.bookmark-item>.toolbarbutton-icon {
  display: none !important;
}

/* Minor bookmarks toolbar spacing adjustments */

#personal-bookmarks toolbarbutton.bookmark-item,
#personal-bookmarks toolbarbutton {
  background: none !important;
  box-shadow: none !important;
  margin: -1px 0px 0px 2px !important;
  -moz-appearance: none !important;
}

#personal-bookmarks toolbarbutton:hover {
  -moz-appearance: none !important;
  background: none !important;
  text-shadow: none !important;
  color: #000 !important;
}

/* Customize identity box */

#identity-box, #tracking-protection-icon-box {
  filter: grayscale(30%) opacity(50%) !important;
}

#identity-box image, #tracking-protection-icon-box image {
  max-width: 12px;
}

/* Customize toolbar icon size */

toolbar .toolbarbutton-1>.toolbarbutton-icon {
  max-width: calc(2 * var(--toolbarbutton-inner-padding) + 11px) !important;
}

.scrollbutton-up>.toolbarbutton-icon,
.scrollbutton-down>.toolbarbutton-icon {
  max-width: 10px !important;
  padding: 0px;
  margin: 2px;
}

/* Hide Unnecessary Buttons */

#PersonalToolbar .toolbarbutton-badge,
#page-action-buttons,
#alltabs-button,
#reader-mode-button,
#downloads-button,
#tabs-newtab-button,
#new-tab-button,
.tab-close-button,
.titlebar-spacer,
.tabs-newtab-button {
  display: none !important;
}

/* Make Toolbar Buttons and Favicons Grayscale */

.tab-icon-stack {
  filter: grayscale(100%) opacity(70%) !important;
}

.tab-label-container {
  font-size: 10px !important;
}
